node_modules/
package-lock.json
data/images
!data/*.example.json
data/knowledge
data/persona
data/user_settings
data/presets
memory.md
memory.db
*.db
data/presets.json
!resources/web/
config/config.yaml
temp/
logs/
config/config.yaml.bak
data/chaite.db-shm
data/chaite.db-wal
data/mcp-servers.json
data/stats.json


sakura-plugin/
src/services/workflow/
data/workflows/
!data/workflows/.gitkeep
TODO.md
QQBotWs/*
apps/QQBotProxy.js
apps/QQBotRelayTest.js
apps/QQBotProxy.js.bak
src/services/qqbot/QQBotSender.js
src/services/qqbot/QQBotSender.js
src/services/qqbot/QQBotMessageHandler.js
src/services/qqbot/*
src/services/qqbot/QQBotSender.js
src/services/webServer.old.js
agent/*
apps/Probe.js
src/services/probe/ProbeService.js
apps/Probe.js.bak
*.bak
demo.py
WARP.md
data/instance.json
.trae/
.vscode/
.qoder/
.windsurf/workflows/
docs/webs/
.agents/

frontend/
.serena/
.playwright-mcp/
